// ---------------------------------------------------------------------------------------------------------------------
// Ship Viewer Styles
// ---------------------------------------------------------------------------------------------------------------------

@import url('https://fonts.googleapis.com/css?family=Titillium+Web&display=swap');

:host {
    display: block;
    width: 500px;
    height: 350px;
    position: relative;
    background-color: #000;
}

#model-viewer {
    width: 100%;
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

.container {
    font-family: 'Titillium Web', sans-serif;
    background-color: rgba(42, 42, 42, 0.87);
    border: 1px solid #555;
    color: #aaa;
    padding: 5px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
}

button {
    font-family: 'Titillium Web', sans-serif;
    background-color: rgba(42, 42, 42, 0.87);
    border: 1px solid #555;
    color: #aaa;
    padding: 5px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;

    &:hover {
        border: 1px solid #999;
        color: #ccc;
    }
}

#fs-btn {
    font-family: 'Titillium Web', sans-serif;
    position: absolute;
    top: 10px;
    right : 10px
}

#sb-btn {
    position: absolute;
    top: 10px;
    left : 10px
}

#model-dimensions
{
    position: absolute;
    bottom: 10px;
    left : 10px
}

#loading {
    font-family: 'Titillium Web', sans-serif;
    visibility: visible;
    opacity: 0.95;
    color: white;
    position: absolute;
    top: 10px; bottom: 10px; left: 10px; right: 10px;
    text-align: center;
    border: 1px solid #555;

    background-color: rgba(21, 21, 21, 1);
}

#loading .inner {
    animation: fadeIn 1s infinite alternate;
    background-image: url(../assets/images/PrecursorsLogo.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    position: absolute;
    top: 10px; bottom: 10px; left: 10px; right: 10px;
    text-align: center;
}

#loading-text {
    font-size: 24px;
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
}

@keyframes fadeIn {
    from { opacity: 0; }
}


//#pre-logo {
//    position: absolute;
//    top: 0; bottom: 0; left: 0; right: 0;
//    margin: auto;
//}
//
//#pre-logo svg {
//    height: 100%;
//}

.hidden {
    visibility: hidden !important;
    opacity: 0;
}

// ---------------------------------------------------------------------------------------------------------------------
